@import "theme"; // theme.less

* {
    /* Using the the universal selector
    here is okay because it is only slow
    when combined with other selectors */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0; /* Remove white margin around body */
    color: white;
    font-family:
        "Century Gothic",
        CenturyGothic,
        AppleGothic,
        sans-serif;
    min-height: 100%;
    height: 100%;
    background-color: @contentbackground;
}

header {
    margin: 0; /* prevent border collapse */
    border-bottom: @headeraccentwidth solid @headeraccent;
    color: white;
    text-align: left;
    background-color: @headerbackground;
    padding: @headerpadding;
    height: @headerheight;
}

header > h1, header > h2 {
    text-align: left;
    margin: 0;
}


#everything-but-footer {
    /* A wrapper for everything but footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Bottom margin is
    negative footer height */
    margin: 0 auto -1 * @footerheight;
    position: relative;
}

#everything-but-header-and-footer {
    height: 100%;
}

.sidebar-left {
    width: @sidebarwidth;
    position: absolute;
    left: 0;
    top: @headerheight;
    bottom: @footerheight;
    padding: 0;
    background-color: @sidebar;
    /* border-right: 8px solid @headeraccent; */
}

.contentarea {
    margin: 0 0 0 @sidebarwidth; /* Make room for left sidebar */
    padding: 0 1em;
    color: @contenttext;
}

@media (max-width: 1024px) {
    header {
        padding: 1em;
        height: @headerheight * 0.5;
    }
    header > h1 { font-size: 1.5em; }
    header > h2 { font-size: 1em; }
    .sidebar-left {
        width: @sidebarwidth * 0.5;
        top: @headerheight * 0.5;
    }
    .contentarea {
        margin: 0 0 0 @sidebarwidth * 0.5; /* Make room for left sidebar */
    }
}

.contentarea > h1 {
    margin: 0;
    padding: 1em 0 0 0;
    color: @contentheadertext;
}
.contentarea > p {
    margin: 0;
    padding: 1em 0 0 0;
}

#footer {
    height: @footerheight;
    padding: 1em;
    background-color: @footerbackground;
    text-align: center;
    color: @footertext
}

.push {
    height: @footerheight;
    clear: both;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav-list > li {
    padding: 1em;
    list-style-type: none;
    display: block;
}

.nav-list > li:nth-child(1) { background-color: extract(@nav-list-item1, 1);}
.nav-list > li:nth-child(2) { background-color: extract(@nav-list-item2, 1);}
.nav-list > li:nth-child(3) { background-color: extract(@nav-list-item3, 1);}
.nav-list > li:nth-child(4) { background-color: extract(@nav-list-item4, 1);}
.nav-list > li:nth-child(5) { background-color: extract(@nav-list-item5, 1);}

.nav-list > li:nth-child(1):hover { background-color: extract(@nav-list-item1, 2);}
.nav-list > li:nth-child(2):hover { background-color: extract(@nav-list-item2, 2);}
.nav-list > li:nth-child(3):hover { background-color: extract(@nav-list-item3, 2);}
.nav-list > li:nth-child(4):hover { background-color: extract(@nav-list-item4, 2);}
.nav-list > li:nth-child(5):hover { background-color: extract(@nav-list-item5, 2);}

.nav-list > li:nth-child(1):active { background-color: extract(@nav-list-item1, 3);}
.nav-list > li:nth-child(2):active { background-color: extract(@nav-list-item2, 3);}
.nav-list > li:nth-child(3):active { background-color: extract(@nav-list-item3, 3);}
.nav-list > li:nth-child(4):active { background-color: extract(@nav-list-item4, 3);}
.nav-list > li:nth-child(5):active { background-color: extract(@nav-list-item5, 3);}

